{% extends "base.html" %}
{% block app_content %}
    {{ wtf.quick_form(form) }}
    {% if post == 1 %}
        <div class="container mb-3">
        <h3> The Request was handled my port {{result['port']}}</h3>
    	{% if 'ERROR' in result %}
            <h3> Something went wrong. I was not able to add the user</h3>
	{% else %}
            <h3> I was able to Successfully add the user</h3>
	    <h3> List of newly updated users </h3>
            <ul>
                {% for user in result['users']%}
                    <li> {{user[0]}} </li>
                {% endfor %}
            </ul>
            <br>
    	{% endif %}
        </div>
    {% endif %}
{% endblock %}
