{% extends 'bootstrap/base.html' %}
{% import "bootstrap/wtf.html" as wtf %}

  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>

{% block title %}
    {% if title %}{{ title }} - {{ appname }}{% else %}{{ appname }}{% endif %}
{% endblock %}


{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ url_for('index') }}">Search User</a>
            <a class="navbar-brand" href="{{ url_for('AddUser') }}">Add Users</a>
            <a class="navbar-brand" href="{{ url_for('GetAllUsers') }}">View All Users</a>
        </div>
    </nav>
{% endblock %}


{% block content %}
    <div class="container">
        <div id="title_bar" class="jumbotron jumbotron">
            <h2>Flask-Nginx GUI Interface</h2>
        </div>
    </div>

    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-info" role="alert">{{ message }}</div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block app_content %}
        {% endblock %}
    </div>
{% endblock %}
